<style type="text/css">
h4:hover{
 cursor:pointer;
 color:orange;
}
</style>
  <main role="main" ng-controller="rechtsprechungenCtrl">   
      <section id="articleRecht">
       <h2 id="startTextRecht">Aktuelles aus der Rechtssprechung</h2>
         <h4><div ng-click="openFall()"><br>
         Der interessante Fall</div></h4>
         <div id="fall">Der interessante Fall</div>
         <h4><div ng-click="openNeuestes()"><br>
         Neustes aus der Rechtssprechung</div></h4>
         <div id="neuestes">Neustes aus der Rechtssprechung</div>
         <h4><div ng-click="openPraxis()"><br>
         Neuigkeiten aus der Praxis</div></h4>         
         <div id="praxis">Neuigkeiten aus der Praxis</div>
         <br><br><br><br><br><br><br><br>
     </section>    
  </main><!--end main-->
  